extends layout

block content
  h1 IP reverse location lookup
  p
    a(href='/api/v1/ip/121.111.244.176') /api/v1/ip/121.111.244.176
  p
    a(href='/api/v2/ip/121.111.244.176') /api/v2/ip/121.111.244.176
